<p>
    <div class="d-flex pt-2">

        <p class="pe-5">
            <a asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Creer nouveau
            </a>
        </p>
    </div>
</p>