@{
    ViewData["Title"] = "Home Page";
}
<style>
    .Mimg {
        image: url(../../wwwroot/Task.jpg);
    }
</style>
<div width="100%" length="500px" 
>
    <div class="text-center Mimg"  >
        
    <h1 class="display-4">Welcome</h1>
        <h3 class="text-success">Simple & Easy ToDoList.</h3>
                    
                
</div>

    <h2  style="color:#483D8B;">
        For more <text class="text-info">Productivity</text><br />
        &amp;<text class=" text-uppercase text-primary">Time</text>
        <text style="color:#6A5ACD
;">
            Management
        </text>
    </h2>
    <img src="~/Task.jpg" width="1000px" height="500px" style="position:relative;"/>
</div>